.walrus-showing {
  display: none;
}

.cat-hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  color: purple;
}

.clickable2 {
  cursor: pointer;
  color: pink;
}

.clickable:hover {
  text-decoration: underline;
}

.clickable2:hover {
  text-decoration: underline;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.blue-background {
  background-color: blue;
}
